<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Header Link File Start -->
    <%-header_tags %>
        <!-- Header Link File End -->
</head>

<body class="background-color-4">

    <!-- Content Page Div Start -->
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                    <div class="card my-5">
                        <div class="card-body p-5 text-center">
                            <img src="/assets/img/logo.svg" />
                        </div>
                        <hr class="my-0" />
                        <div class="card-body p-5">
                            <!-- Login form Start-->
                            <div>
                                <!-- Title Div Start -->
                                <div class="fs-3 form-label mb-4">Sign In</div>
                                <!-- Title Div End -->

                                <!-- Form Group (email address)-->
                                <div class="form-group mb-4">
                                    <label class="form-label">Email address</label>
                                    <input class="form-control" type="text" placeholder="Email Address"
                                        id="login_email" />
                                </div>
                                <!-- Form Group (password)-->
                                <div class="form-group mb-5">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" type="password" placeholder="Password"
                                        id="login_password" />
                                </div>
                                <!-- Login Button Div Start -->
                                <div class="d-grid mb-4">
                                    <button class="btn btn-warning" onclick="login();">Log In</button>
                                </div>
                                <!-- Login Button Div End -->
                            </div>
                            <!-- Login form End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Content Page Div Start -->


    <!-- Script Tag Start -->
    <%- script_tags %>
        <!-- Script Tag End -->


        <script>
            function login() {
                $.ajax({
                    url: '/api/v1/user/login',
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        email: $('#login_email').val(),
                        password: $('#login_password').val()
                    },
                    success: function (data) {
                        if (data.status === true || data.status === "true") {
                            if(data.data === 1){
                                setTimeout(() => { location.href = '/product'; }, 1000);
                            }else {
                                setTimeout(() => { location.href = '/page1'; }, 1000);
                            }
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error making the request:', textStatus, errorThrown);
                        iziToast.error({
                            title: 'Error',
                            message: 'An error occurred while processing your request.',
                        });
                    }
                });
            }
        </script>


</body>

</html>