<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Management</title>
    <%-header_tags %>
</head>

<body class="nav-fixed">
    <%-top_header %>
        <div id="layoutSidenav">
            <%-sidebar %>
                <div id="layoutSidenav_content">
                    <main>
                        <header class="page-header page-header-light bg-light ">
                            <div class="container">
                                <div class="page-header-content pt-4">
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-auto mt-4">
                                            <h1 class="">
                                                Category Management
                                            </h1>
                                            <div class="">
                                                <span class="font-weight-400 text-mute">Edit Sub Category</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="breadcrumb mb-0 mt-4">
                                        <li class="breadcrumb-item"><a href="/gift-voucher">Category Management</a>
                                        </li>
                                        <li class="breadcrumb-item active">Edit Sub Category</li>
                                    </ol>
                                </div>
                            </div>
                        </header>

                        <!-- Main page content Start-->
                        <div class="container">
                            <div class="">
                                <div class="row mb-5">

                                    <div class="col-12">
                                        <div class="row">

                                            <!-- Product Category Select Div Start -->
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Product Category</label>
                                                <div class="form-group">
                                                    <select class="form-control" id="productCategory"></select>
                                                </div>
                                            </div>
                                            <!-- Product Category Select Div End -->

                                            <!-- Sub Category Select Div Start -->
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label">Sub Category Name</label>
                                                <div class="form-group">
                                                    <input min="0" class="form-control" id="subCategoryName"
                                                        type="text">
                                                </div>
                                            </div>
                                            <!-- Sub Category Select Div Start -->

                                            <!-- Image Upload Div Start -->
                                            <div class="col-md-4 mb-3">
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <h5 class="mb-3">Sub Category Image</h5>
                                                        <div id="imageContainer"
                                                            class="border-radius-20 image-uploader-container bg-dark"
                                                            onclick="openImageInput()">
                                                            <div class="row text-center p-4 image-uploader">
                                                                <img src="/assets/img/product-image-uploade.png"
                                                                    class="mb-3" />
                                                                <p class="mb-2 font-size-18">Drop your image here, or
                                                                    browse</p>
                                                                <p class="mb-2 font-size-12 text-secondary">Supports:
                                                                    AVIF
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <input type="file" id="productImage" accept="image/*"
                                                            class="d-none" onchange="displayImage()">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Image Upload Div Start -->

                                            <!-- Button Div Start -->
                                            <div class="col-12 d-flex justify-content-end mb-3">
                                                <button class="btn btn-primary"
                                                    onclick="subCategoryEdit();">Edit</button>
                                            </div>
                                            <!-- Button Div Start -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Main page content End-->


                    </main>
                    <footer class="footer mt-auto footer-light">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 small">Copyright &copy; NB Admin 2023</div>
                                <div class="col-md-6 text-md-right small">
                                    <a href="#!">Privacy Policy</a>
                                    &middot;
                                    <a href="#!">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
        </div>
        <%- script_tags %>

            <script>

                // Product Image Function Start
                function openImageInput() {
                    var input = document.getElementById('productImage');
                    input.click();
                }

                function displayImage() {
                    const input = document.getElementById('productImage');
                    const container = document.getElementById('imageContainer');

                    const file = input.files[0];

                    if (file) {
                        const reader = new FileReader();

                        reader.onload = function (e) {
                            const image = new Image();
                            image.src = e.target.result;
                            image.className = "previewImage";
                            container.innerHTML = '';

                            image.style.width = '100%';
                            image.style.height = '100%';

                            container.appendChild(image);
                        };

                        reader.readAsDataURL(file);
                    }
                }
                // Product Image Function End


                // Get the current URL
                var currentUrl = window.location.href;
                var parts = currentUrl.split('/');
                var id = parts[parts.length - 1];
                let category = 0;

                // Sub Category View Function Start
                function getProductSubCategory() {
                    $.ajax({
                        url: '/api/v1/product_sub_category/view',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "id": id
                        }),
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                $('#subCategoryName').val(data.data.name);
                                category = data.data.category;
                                productCategory();
                                const container = document.getElementById('imageContainer');
                                const image = new Image();
                                image.src = data.data.img_url;
                                image.className = "previewImage";
                                container.innerHTML = '';

                                image.style.width = '100%';
                                image.style.height = '100%';

                                container.appendChild(image);

                            } else {
                                iziToast.error({
                                    title: 'Error',
                                    message: data.message,
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                getProductSubCategory()
                // Sub Category View Function End

                // Product Category List Load Function Start
                function productCategory() {
                    $.ajax({
                        url: '/api/v1/product_category/list',
                        method: 'POST',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                let details = data.data;

                                let i = 0;
                                document.getElementById('productCategory').innerHTML = '';
                                details.forEach(function (detail) {

                                    let option = document.createElement('option');
                                    option.value = detail.id;
                                    option.textContent = detail.name;
                                    document.getElementById('productCategory').appendChild(option);
                                    i += 1;
                                    if(i === details.length) {
                                        $('#productCategory').val(category);
                                    }

                                });

                            } else {
                                console.log(data);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                productCategory();
                // Product Category List Load Function End

                // Sub Category Edit Function Start
                function subCategoryEdit() {

                    $.ajax({
                        url: '/api/v1/product_sub_category/edit',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            "id": id,
                            "name": $('#subCategoryName').val(),
                            "category": $('#productCategory').val(),
                            "imgUrl": "sample text"


                        }),
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                iziToast.success({
                                    title: 'Success',
                                    message: data.message,
                                });
                                category_image_upload(id)


                            } else {

                                iziToast.error({
                                    title: 'Error',
                                    message: data.message,
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });

                }
                // Sub Category Edit Function Start
                async function category_image_upload(categoryId) {

                    if (document.getElementById("productImage").files.length === 0) {
                        return;
                    }

                    let data = new FormData();
                    data.append("imageId", 1);
                    data.append("resultId", categoryId);
                    data.append("image", document.getElementById("productImage").files[0]);

                    $.ajax({
                        url: "/api/upload",
                        data: data,
                        method: "post",
                        mimeType: "multipart/form-data",
                        contentType: false,
                        processData: false,
                        success: function (data) {

                            var data = JSON.parse(data);
                            if (data.status == "true" || data.status == true) {

                                iziToast.success({
                                    timeout: 5000,
                                    icon: 'fa fa-check',
                                    title: 'Done',
                                    message: "Success",
                                });

                                location.href = '';

                            } else {
                                iziToast.error({
                                    timeout: 5000,
                                    icon: 'fa fa-ban',
                                    title: 'Error',
                                    message: data.message,
                                });


                            }
                        },
                        error: function () {
                            alert("Can not post data");
                        }
                    });

                }



            </script>
</body>

</html>