<!DOCTYPE html>
<html lang="en">

<head>
    <title>Category Management</title>
    <%-header_tags %>
</head>

<body class="nav-fixed">
    <%-top_header %>
        <div id="layoutSidenav">
            <%-sidebar %>
                <div id="layoutSidenav_content">

                    <main>

                        <header class="page-header page-header-light bg-light ">
                            <div class="container">
                                <div class="page-header-content pt-4">
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-auto mt-4">
                                            <h1 class="">
                                                Category Management
                                            </h1>
                                            <div class="">
                                                <span class="font-weight-400 text-mute">Sub Category List</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="breadcrumb mb-0 mt-4">
                                        <li class="breadcrumb-item"><a href="/gift-voucher">Category Management</a>
                                        </li>
                                        <li class="breadcrumb-item active">Sub Category List</li>
                                    </ol>
                                </div>
                            </div>
                        </header>

                        <!-- Main page content Start-->
                        <div class="container">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <span>Product Sub Category List</span>
                                </div>
                                <div class="card-body">

                                    <div class="row mt-4">
                                        <div class="col">
                                            <table class=" table">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th class="text-white">#</th>
                                                        <th class="text-white">Name</th>
                                                        <th class="text-white">Category</th>
                                                        <th class="text-white">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="productListTable"></tbody>
                                            </table>

                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Main page content End-->

                    </main>

                    <footer class="footer mt-auto footer-light">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 small">Copyright &copy; NB Admin 2023</div>
                                <div class="col-md-6 text-md-right small">
                                    <a href="#!">Privacy Policy</a>
                                    &middot;
                                    <a href="#!">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>

                </div>
        </div>
        <%- script_tags %>

            <script>

                // Sub Category List Function Start
                function subCategoryList() {

                    $.ajax({
                        url: '/api/v1/product_sub_category/list',
                        method: 'POST',
                        contentType: 'application/json',
                        data: {},
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                const node = data.data
                                console.log("🚀 ~ file: gift-voucher-list.html:99 ~ productList ~ node:", node)

                                document.getElementById("productListTable").innerHTML = ""

                                for (let i = 0; i < node.length; i++) {
                                    let number = i + 1;

                                    document.getElementById("productListTable").innerHTML += `
                                        <tr>
                                            <td>0${number}</td>
                                            <td>${node[i].name}</td>
                                            <td>${node[i].category_name}</td>
                                            <td class="text-end">
                                                <a href="/sub-category-edit/${node[i].id}" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                                <a onclick="deleteData('${node[i].id}')" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                                            </td>
                                        </tr>
                                `
                                }

                            } else {

                                iziToast.error({
                                    title: 'Error',
                                    message: data.message,
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                subCategoryList()
                // Sub Category List Function End


                function deleteData(resultId) {
                    iziToast.show({
                        theme: 'dark',
                        icon: 'fa-solid fa-trash-can',
                        title: 'Are you sure?',
                        message: 'Do you want to delete this data?',
                        position: 'center',
                        progressBarColor: 'rgb(0, 255, 184)',
                        buttons: [
                            ['<button>Yes</button>', function (instance, toast) {

                                $.ajax({
                                    url: "/api/v1/delete-data",
                                    method: "post",
                                    data: JSON.stringify({
                                        tableId: 3,
                                        resultId: resultId
                                    }),
                                    dataType: "json",
                                    contentType: "application/json",
                                    success: async function (data) {
                                        if (data.status) {

                                            iziToast.success({
                                                timeout: 5000,
                                                icon: 'fa fa-check',
                                                title: 'Done',
                                                message: data.message,
                                            });

                                            subCategoryList()

                                        } else {

                                            iziToast.error({
                                                timeout: 5000,
                                                icon: 'fa fa-ban',
                                                title: 'Error',
                                                message: data.message,
                                            });

                                        }
                                    },
                                    error: function (data) {

                                        iziToast.error({
                                            timeout: 5000,
                                            icon: 'fa fa-ban',
                                            title: 'Error',
                                            message: data.statusText,
                                        });

                                    }
                                });

                                iziToast.hide({
                                    transitionOut: 'fadeOutUp'
                                }, toast);
                            }, true],
                            ['<button>No</button>', function (instance, toast) {
                                iziToast.hide({
                                    transitionOut: 'fadeOutUp'
                                }, toast);
                            }]
                        ],
                    });
                }

            </script>
</body>

</html>