<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Management</title>
    <%-header_tags %>
</head>

<body class="nav-fixed">
    <%-top_header %>
        <div id="layoutSidenav">
            <%-sidebar %>
                <div id="layoutSidenav_content">
                    <main>
                        <header class="page-header page-header-light bg-light ">
                            <div class="container">
                                <div class="page-header-content pt-4">
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-auto mt-4">
                                            <h1 class="">
                                                Product Management
                                            </h1>
                                            <div class="">
                                                <span class="font-weight-400 text-mute">Add New Product</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="breadcrumb mb-0 mt-4">
                                        <li class="breadcrumb-item"><a href="/gift-voucher">Product Management</a>
                                        </li>
                                        <li class="breadcrumb-item active">Add New Product</li>
                                    </ol>
                                </div>
                            </div>
                        </header>

                        <!-- Main page content-->
                        <div class="container">
                            <div class="">
                                <div class="row mb-5">

                                    <div class="col-12">
                                        <div class="row">

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Product ID</label>
                                                <input min="0" class="form-control" id="productId" type="text">
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Product Name</label>
                                                <div class="form-group">
                                                    <input min="0" class="form-control" id="productName" type="text">
                                                </div>
                                            </div>

                                            <div class="d-none col-md-4 mb-3">
                                                <label class="form-label">Product Type</label>
                                                <div class="form-group">
                                                    <select class="form-control" id="productType">
                                                        <option selected disabled>Product Type</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Product Category</label>
                                                <div class="form-group">
                                                    <select class="form-control" id="productCategory">
                                                        <option selected disabled>Select Category</option>
                                                    </select>
                                                </div>
                                            </div>
 
                                            <div class="col-md-2 mb-3">
                                                <label class="form-label">Size</label>
                                                <input min="0" class="form-control" id="productSize" type="text">
                                            </div> 

                                            <div class="col-md-2 mb-3">
                                                <label class="form-label">Color</label>
                                                <input min="0" class="form-control" id="productColor" type="text">
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <label class="form-label">Stock</label>
                                                <input min="0" class="form-control" id="productStock" type="text">
                                            </div>

                                            <div class="col-md-2 mb-3" id="priceInputField">
                                                <label class="form-label">Price</label>
                                                <input min="0" class="form-control" id="productPrice" type="text">
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Product Sub Category</label>
                                                <div class="form-group">
                                                    <select class="form-control" id="productSubCategory">
                                                        <option selected disabled>Select Sub Category</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 d-flex justify-content-end mb-3">
                                                <button class="btn btn-primary" onclick="productAdd();">Add</button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </main>
                    <footer class="footer mt-auto footer-light">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 small">Copyright &copy; NB Admin 2023</div>
                                <div class="col-md-6 text-md-right small">
                                    <a href="#!">Privacy Policy</a>
                                    &middot;
                                    <a href="#!">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
        </div>
        <%- script_tags %>

            <script>
                // Product Add Function Start
                function productAdd() {

                    $.ajax({
                        url: '/api/v1/product/add',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            "name": $('#productName').val(),
                            "type": $('#productType').val(),
                            "category": $('#productCategory').val(),
                            "subCategory": $('#productSubCategory').val(),
                            "stock": $('#productStock').val(),
                            "productId": $('#productId').val(),
                            "price": $('#productPrice').val(),
                            "color": $('#productColor').val(),
                            "size": $('#productSize').val(),

                        }),
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                iziToast.success({
                                    title: 'Success',
                                    message: data.message,
                                });

                                setTimeout(() => {
                                    window.location.reload();
                                }, 1000);

                            } else {

                                iziToast.error({
                                    title: 'Error',
                                    message: data.message,
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });

                }
                // Product Add Function End


                // Product Type List Load Function Start
                function ProductType() {
                    $.ajax({
                        url: '/api/v1/product_type/list',
                        method: 'POST',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            if (data.status === true || data.status === "true") {

                                let details = data.data;

                                details.forEach(function (detail) {

                                    let option = document.createElement('option');
                                    option.value = detail.id;
                                    option.textContent = detail.name;
                                    if(detail.name.toLowerCase() === "readymate"){
                                        option.selected = true;
                                    }
                                    document.getElementById('productType').appendChild(option);


                                });

                            } else {
                                console.log(data);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                ProductType();
                // Product Type List Load Function End


                // product Category List Load Function Start
                function productCategory() {
                    $.ajax({
                        url: '/api/v1/product_category/list',
                        method: 'POST',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            if (data.status === true || data.status === "true") {
                                console.log(data);

                                let details = data.data;

                                details.forEach(function (detail) {

                                    let option = document.createElement('option');
                                    option.value = detail.id;
                                    option.textContent = detail.name;
                                    document.getElementById('productCategory').appendChild(option);


                                });

                            } else {
                                console.log(data);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                productCategory();
                // product Category List Load Function End


                // product Sub Category List Load Function Start
                document.getElementById('productCategory').addEventListener('change', function () {
                    productSubCategory(this.value);
                });

                function productSubCategory(value) {

                    $.ajax({
                        url: '/api/v1/product_sub_category/category-list',
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            category_Id: value
                        },
                        success: function (data) {
                            if (data.status === true || data.status === "true") {
                                console.log(data);

                                let details = data.data;

                                document.getElementById('productSubCategory').innerHTML = "";

                                details.forEach(function (detail) {

                                    let option = document.createElement('option');

                                    option.value = detail.id;

                                    option.textContent = detail.name;

                                    document.getElementById('productSubCategory').appendChild(option);
                                });

                            } else {
                                console.log(data);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Error making the request:', textStatus, errorThrown);
                            iziToast.error({
                                title: 'Error',
                                message: 'An error occurred while processing your request.',
                            });
                        }
                    });
                }
                // product Sub Category List Load Function End


                // Price Change Function Start
                document.getElementById('productType').addEventListener('change', function () {
                    priceLoad(this.value);
                });

                function priceLoad(value) {

                    if (value == 1) {
                        document.getElementById("priceInputField").classList.remove("d-none");
                    } else {
                        document.getElementById("priceInputField").classList.add("d-none");
                        document.getElementById("productPrice").value = "0";
                    }

                }
                // Price Change Function End

            </script>
</body>

</html>